{% extends 'base.html' %}
{% block content%}

<div class="about">
<div class="about_div">
    <h2>About Us</h2>
    <p>
<b>Welcome to Campus Eats.</b><br> Your go-to destination for delicious, affordable, and freshly prepared meals!<br>

Here, we believe that good food brings people together. Whether you're grabbing a quick bite between classes, fueling up for a busy day at work, or enjoying a relaxed meal with friends, we've got something for everyone.
<br><br>
<b>What We Offer:</b><br>
Fresh Ingredients: We use only the finest, locally-sourced ingredients to prepare every dish.<br>
Affordable Prices: Great taste shouldn't break the bank. Enjoy quality meals at student-friendly prices.<br>
Variety: From comfort food to healthy options, our menu caters to diverse tastes and dietary needs.<br>
Hygiene First: Cleanliness and food safety are our top priorities.<br><br>
<b>Our Mission</b><br>
Our mission is to create a welcoming space where everyone can enjoy great food and great company. We strive to provide a seamless dining experience, whether you.re dining in, taking away, or using our online ordering system.
<br><br>
<b>Why Choose Us?</b><br>
Quick Service: We understand your time is precious. That's why we.re committed to serving you promptly.<br>
Customer-Centric: Your feedback shapes our service and menu offerings.<br>
Sustainability: We care about the planet and aim to minimize waste with eco-friendly practices.<br><br>
Join us and experience a canteen where quality, convenience, and care come together to create a memorable dining experience.</p>
</div>
</div>

{% endblock %}